.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 36px;
    color: #bd006c;
    margin-top: 1em;
}

.title {
    font-size: 48px;
    margin-top: 1em;
}

.description {
    width: 50%;
    margin-top: 2em;
    font-size: 18px;
    color: #3c3c3c;
}

.servicesList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4em;
}

.container {
    text-align: center;
}

.iconContainer {
    margin-inline: 2em;
    margin-bottom: 3em;
}

.icon {
    height: 200px;
    width: 200px;
}

.iconText {
    font-size: 24px;
    color: #bd006c;
    margin-top: 1em;
}

.font {
    font-family: "IBM Plex Sans", sans-serif;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .bigTitle {
        font-size: 36px;
    }

    .title {
        font-size: 28px;
    }

    .icon {
        height: 150px;
        width: 150px;
    }

    .text {
        font-size: 24px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .icon {
        height: 150px;
        width: 150px;
    }

    .text {
        font-size: 24px;
    }

    .iconContainer {
        margin-inline: 5px !important;
    }

    .iconText {
        font-size: 24px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .bigTitle {
        font-size: 28px;
    }

    .title {
        font-size: 24px;
    }

    .text {
        font-size: 24px;
    }

    .servicesList {
        flex-direction: column;
    }
}
