.root {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bgImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}

.title {
    position: absolute;
    right: 100px;
    bottom: 50px;
    font-size: 96px;
    color: #fff;
    text-align: right;
}

.registrierenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainText {
    margin-top: 1em;
    font-size: 48px;
}

.registrierenTitle {
    font-size: 60px;
    color: #000000;
}

.text {
    margin: 2em 0 2em 0;
    font-size: 24px;
}

.button {
    background-color: transparent;
    border: 1px solid #f89b1b;
    border-radius: 12px;
    color: #f89b1b;
    height: 80px;
    font-size: 36px;
    margin-bottom: 1em;
    padding-inline: 1em;
    font-weight: bold;
}

.servicesBackground {
    height: 650px;
    margin-top: 4em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.font {
    font-family: "Alumni Sans", sans-serif;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .title {
        font-size: 36px;
        margin-bottom: 0.3em;
    }

    .text {
        font-size: 24px;
        margin-top: 1em;
    }

    .cookContainer {
        flex-direction: column-reverse;
    }

    .cookDetails {
        width: 100%;
        padding-inline: 0px !important;
    }

    .cookPicture {
        width: 100%;
        height: 30%;
    }

    .description {
        font-size: 12px;
        font-weight: 500;
        margin-top: 1em;
    }
}
