.root {
    width: 100%;
}

.bgImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}

.title {
    position: absolute;
    right: 100px;
    bottom: 50px;
    font-size: 60px;
    color: #fff;
    text-align: right;
}
